<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar placeholder="Procurar por código ou descrição" mode="ios"
                   (ionChange)="searchChanged($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="filteredProducts">
    <ion-item [detail]="true" *virtualItem="let item" (click)="modalController.dismiss(item)">
      <ion-label text-wrap>
          <h4>{{item.name}} - #{{item.id}}</h4>
          <p>{{item.fullPrice | real}}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
